<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/editar/<%=tarefasAtual.id%>">
        <fieldset>
            <label for="nome_tarefa">Tarefa</label>
            <input type="text" name="nome_tarefa" value="<%=tarefasAtual.tarefas%>" required>
        </fieldset>
        <fieldset>
            <button id="btn_submit" type="submit"> Ok</button>
        </fieldset>
        <a href="/deletar/<%=tarefasAtual.id%>">
            <p>excluir</p>
        </a>
    </form>
</body>
</html>